@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Besley', serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 200px;
  height: 150px;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
button {
  text-transform: none;
  list-style: none;
  outline:none;
  border:none;
  background-color: transparent;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.navbar {
  margin:30px 100px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-icon {
  font-size: 5rem;
  transition:all 300ms ease-out;
}
.navbar-title {
  font-size:2.4rem;
}
.navbar-btn {
  font-size:3rem;
  transition:all 300ms ease-out;
  position:relative;
}
.navbar-btn:hover, .navbar-icon:hover {
  color:lightgray;
  transform: scale(1.1);
}
.navbar-number {
  font-size:30px;
  font-weight:bold;
  position:absolute;
  margin-top:-20px;
  background-color:black;
  color:white;
  width:40px;
  height:40px;
  border-radius: 50%;
  padding-top: 3px;
}
.cart-item {
  display: flex;
  justify-content:space-between;
  margin:0 300px;
}
.cart-item-left{
  display: flex;
}
.price {
  background-color:lightgray;
  padding:0 10px;
  border-radius: 10px;
}
.react-icon {
  font-size:40px;
  font-weight:bold;
  transition:all 300ms ease-in;
}
.react-icon:hover {
  color:gray;
  transform:scale(1.1)

}
.control {
  display:flex;
  flex-direction:column;
  align-items: center;
  font-size:40px;
}
.change-control{
  display:flex;
  align-items: center;
}
.remove-btn {
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
  margin-left: 55px;
  color:gray;
  transition:all 300ms ease-in-out;
  padding:10px;
  border-radius: 20px
}
.remove-btn:hover {
  background-color: lightgray;
  color:white;
  
}

.loading{
display: flex;
justify-content: center;
align-items: center;
margin-top: 200px;
}
.hero{
  display: flex;
  flex-direction:column;
}
.clear-btn {
  font-weight: bold;
  font-size:30px;
  margin-top:20px;
  transition:all 300ms ease-in;
  border-radius:10px;
  padding:10px;
}
.total{
  font-weight: bold;
  font-size:35px;
  text-align:right;
  margin-right: 300px;;
  padding:15px;
  border-radius:20px;
}
.clear-btn:hover {
  background-color:lightgray;
  color:white;
}